<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1935},{84,98}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1947},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>addBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1969},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>alarmClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1817},{89,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,96}}</string>
                <key>sourceSize</key>
                <string>{89,96}</string>
            </dict>
            <key>bankerCardsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,819},{342,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,82}}</string>
                <key>sourceSize</key>
                <string>{342,82}</string>
            </dict>
            <key>beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1966},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>bg_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,542},{1273,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1273,585}}</string>
                <key>sourceSize</key>
                <string>{1273,585}</string>
            </dict>
            <key>bg_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{1273,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1273,585}}</string>
                <key>sourceSize</key>
                <string>{1273,585}</string>
            </dict>
            <key>border_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1547},{113,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,160}}</string>
                <key>sourceSize</key>
                <string>{113,160}</string>
            </dict>
            <key>bottomLayout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,83}}</string>
                <key>sourceSize</key>
                <string>{1280,83}</string>
            </dict>
            <key>bottomMenuBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{1280,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,60}}</string>
                <key>sourceSize</key>
                <string>{1280,60}</string>
            </dict>
            <key>btnBuJb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1262},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>btnBujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1187},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>btnChupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1112},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>btnJb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1037},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>btnYaobuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,962},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>btn_MultScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1817},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1463},{161,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,82}}</string>
                <key>sourceSize</key>
                <string>{161,82}</string>
            </dict>
            <key>btn_blue_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1255},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>btn_disMultScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1403},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>btn_discallLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1932},{113,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,59}}</string>
                <key>sourceSize</key>
                <string>{113,59}</string>
            </dict>
            <key>btn_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1171},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>btn_gameAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1775},{270,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,93}}</string>
                <key>sourceSize</key>
                <string>{270,93}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1087},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>btn_overBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1817},{147,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,83}}</string>
                <key>sourceSize</key>
                <string>{147,83}</string>
            </dict>
            <key>btn_rate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,887},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>btn_rate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,812},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>btn_rate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,737},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1817},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>checkBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1901},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>checkBoxTrue.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1817},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>chuntian.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1985},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>commTips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,903},{292,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,40}}</string>
                <key>sourceSize</key>
                <string>{292,40}</string>
            </dict>
            <key>difen.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1966},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>flaghostwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1976},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>framehead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1662},{111,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,158}}</string>
                <key>sourceSize</key>
                <string>{111,158}</string>
            </dict>
            <key>fullpurpleBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1255},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>gameend_0_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,945},{793,282}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{793,282}}</string>
                <key>sourceSize</key>
                <string>{797,282}</string>
            </dict>
            <key>gameend_1_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{741,196}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{741,196}}</string>
                <key>sourceSize</key>
                <string>{741,214}</string>
            </dict>
            <key>gameend_2_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,819},{857,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{857,266}}</string>
                <key>sourceSize</key>
                <string>{857,266}</string>
            </dict>
            <key>gameend_3_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,200},{729,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{729,250}}</string>
                <key>sourceSize</key>
                <string>{731,250}</string>
            </dict>
            <key>glod.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1901},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2010},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>goldBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2010},{230,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,32}}</string>
                <key>sourceSize</key>
                <string>{230,32}</string>
            </dict>
            <key>greenbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1087},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>icongold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,341},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>imgSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1901},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>img_over_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1985},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>img_over_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1985},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>imgresult.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,903},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>jb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1935},{106,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,39}}</string>
                <key>sourceSize</key>
                <string>{106,39}</string>
            </dict>
            <key>lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1775},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>menuBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1903},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>menuQuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1873},{85,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{85,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>menuRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,539},{85,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{85,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>menuSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,452},{85,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{85,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>menuShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1817},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>net1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,2},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>net2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,47},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>net3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,200},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>net4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,64},{3,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,7}}</string>
                <key>sourceSize</key>
                <string>{3,7}</string>
            </dict>
            <key>oNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,217},{122,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,30}}</string>
                <key>sourceSize</key>
                <string>{122,30}</string>
            </dict>
            <key>orangebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1817},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1981},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>power1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,165},{27,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,13}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>power2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,136},{27,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,13}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>power3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,107},{27,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,13}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>power4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,78},{27,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,13}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>qipaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1337},{165,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,64}}</string>
                <key>sourceSize</key>
                <string>{165,64}</string>
            </dict>
            <key>rate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,542},{81,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,60}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>rate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1915},{92,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,60}}</string>
                <key>sourceSize</key>
                <string>{92,60}</string>
            </dict>
            <key>rate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1915},{93,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{93,60}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1817},{116,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,61}}</string>
                <key>sourceSize</key>
                <string>{116,61}</string>
            </dict>
            <key>recordBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,452},{664,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,88}}</string>
                <key>sourceSize</key>
                <string>{664,88}</string>
            </dict>
            <key>redbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1171},{232,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,82}}</string>
                <key>sourceSize</key>
                <string>{232,82}</string>
            </dict>
            <key>ruleMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{964,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,53}}</string>
                <key>sourceSize</key>
                <string>{964,53}</string>
            </dict>
            <key>ruleTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1817},{217,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,76}}</string>
                <key>sourceSize</key>
                <string>{217,76}</string>
            </dict>
            <key>sNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,626},{182,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,46}}</string>
                <key>sourceSize</key>
                <string>{182,46}</string>
            </dict>
            <key>selfTips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,943},{261,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,37}}</string>
                <key>sourceSize</key>
                <string>{261,37}</string>
            </dict>
            <key>simpadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,371},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>simpequel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,194},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>smallpurpleBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1463},{161,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,82}}</string>
                <key>sourceSize</key>
                <string>{161,82}</string>
            </dict>
            <key>sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1947},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1985},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>tip_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1817},{113,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,59}}</string>
                <key>sourceSize</key>
                <string>{113,59}</string>
            </dict>
            <key>tip_yaobuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,674},{173,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,61}}</string>
                <key>sourceSize</key>
                <string>{173,61}</string>
            </dict>
            <key>tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1817},{150,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,43}}</string>
                <key>sourceSize</key>
                <string>{150,43}</string>
            </dict>
            <key>topMenuBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{1280,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,81}}</string>
                <key>sourceSize</key>
                <string>{1280,81}</string>
            </dict>
            <key>wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,78},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,371},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,64},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>wifi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,25},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d313b3fdeedda21341a157aa0eb7816$</string>
            <key>textureFileName</key>
            <string>res.png</string>
        </dict>
    </dict>
</plist>
